
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to right , #2c5364, #0f2027); */
    background-color: bisque;
    height: 50vh;
    display: flex;
    align-items:  center;
    justify-content: center;
    overflow: hidden;
}


.eyerus{
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite; /* speed of rotation */
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform:  perspective(1000px) rotateY(360deg);
    }
}

 .eyerus span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d; /* optional */
    transform:  rotateY(calc(var(--i)*90deg)) translateZ(100px); /* spaces between span */
}

.eyerus span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 5px 10px 4px 4px rgb(30, 29, 29); */
    object-fit: cover;
    transition: 2s;
}
