
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* ========================================End OF GLOBAL VARIABLES============================================== */

/* ========================================Start OF menu============================================== */

#bgnav{
    /* border: 2px solid black; */
    width: 100%;
    position: fixed;
    height: 60px;
    background-image: linear-gradient(220deg, #eef0ef 80%, #3e2c2c 50%); 
    z-index: 3;  
}


/* .container{
    border: 2px solid greenyellow;
} */


#logo{
    color: white;
    font-size: 23px;
    font-family: 'Italianno', cursive;
    
}

#logo img{
    color: white;
    width: 100px;
    height: 30px;
    font-size: 23px;
    font-family: 'Italianno', cursive;
}

#navbarNav{
    background-image: linear-gradient(290deg, #eef0ef 50%, #3e2c2c 80%); 
    text-align: center;
    padding: 0 0 0 100px;
    font-size: 15px;
}


#navbarNav ul li a{
    color: #a88513;
}

.nav-item{
    margin: 0 30px;
}

.d-flex .btn{
    border: 2px solid #895426;
}

.d-flex .btn a{
    text-decoration: none;
    color: #a88513;
}

.d-flex button{
    background-color: #dcccbe;
    margin: 0 5px;
}

.d-flex button:hover{
    background-color: transparent;
}

/* ========================================End OF menu ============================================== */

/* ========================================main product page ============================================== */




.product-container{
    /* border: 2px solid greenyellow; */
    margin: 0 50px;
}

.heading{
    /* border: 2px solid rgb(89, 89, 72); */
    font-size: 20px;
    background-color: #a88513;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}
/* heading */

/* ========================================main container ============================================== */

.main_container{

    padding-top: 60px;
    min-height: 560px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    /* border: 2px solid rgb(92, 203, 13); */

}

.contact-container .h2{
    margin: 300px;
}

.h2 h2{
    margin: 50px 90px 0px 90px;
    font-size: 80px;
    text-align: center;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Italianno', cursive;
}

.containerid{

    margin: 5% 10%;
    min-height: 300px;
    background-image: url("../images/Coffee_Beans/giphy5.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.brand{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Italianno', cursive;
    /* font-family: 'Righteous', cursive; */

}


.h-product-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 500px;
    /* background-image: url("../images/Automatic-drip-coffee-maker-and-coffee.jpeg"); */
    /* background-image: url("../images/funny-coffee-quotes-1557930049.jpg"); */
    /* background-image: url("../images/bean-bros.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border-bottom: 25px solid black; */
    /* box-shadow: 50px 20px 100px 50px rgb(41, 40, 40); */
    overflow: hidden;
}


.h-product-cont .left_img{
    width: 100%;
    /* border: 2px solid green; */
}

.h-product-cont .left_img img{
    margin-top: 5%;
    width: 100%;
    height: 90%;
}

.h-product-cont .right_text{
    width: 100%;
}

.h-product-cont .right_text img{
    margin-top: 5%;
    width: 100%;
    height: 90%;
}

.h-product-cont h2{

    margin: 150px 90px 0px 90px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Italianno', cursive;
}

.sample_products{
    width: 100%;
    height: 950px;
    border-bottom: 2px solid yellow;
    box-shadow: 10px 0px 10px 1px rgb(41, 40, 40);
    overflow: hidden;
}

.sample_products h1{
    padding: 10px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 40px 10px rgb(99, 94, 85);

}

.sample_products h2{
    margin: 20px 25% 0 25%;
    width: 50%;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid green;
}

.sample_products img{
    margin-top: 3%;
    width: 45%;
    height: 500px;
    margin-left: 3%;
}


.sample_products button.btn{
    margin-left: 40%;
    display: inline-block;
    border-radius: 0.8rem;
    background: #030303;
    padding: 30px 60px;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.sample_products button.btn:hover{
    color: black;
    background-color: transparent;
}

.sample_products button.btn:hover a{
    color: black;
}

.sample_products a{
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.sample_products a:hover{
    text-decoration: none;
    color: black;
}


.home_image_box{
    width: 100%;
    height: 500px;
}

.home_image_box img{
    width: 100%;
    height: 500px;
}


.introduce_coffe h1{
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 40px 10px rgb(99, 94, 85);
}

.introduce_coffe h2{
    margin: 10px 15%;
    width: 75%;
    font-size: 25px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


/* ======================================================== About Page ===================================== */
.about-us{
    background-image: url("../images/33.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}


.main_container .h1_about_us{
    margin: 100px 0 40px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 40px 10px rgb(99, 94, 85);
}

.about-us p{
    padding: 70px 15%;
    line-height: 40px;
    text-align: justify;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.farmer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.farmer img{
    border: 10px solid rgb(6, 99, 38);
    margin: 0 10%;
    width: 80%;
    height: 100%;
}

.farmer p{
    text-align: justify;
    font-size: 25px;
    padding: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.team_container{
    background-image: url("../images/33.jpg");
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #5fee00;
}

/* .team_info_container{
    
} */

.team_info_container .team_photo{
    margin: 0 15%;
    width: 100%;
    height: 400px;
}

.team_info_container .team_photo img{
    width: 70%;
    height: 100%;
}


.team_info_container .team_info h1{
    font-size: 30px;
    font-family: 'Koulen', cursive;
    text-align: center;
    box-shadow: 10px 20px 40px 10px rgb(99, 94, 85);
}

.team_info_container .text_quote h3{
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Italianno', cursive;
}


.team_container .social_media{
    /* margin-top: 50px; */
    /* border: 2px black solid; */
    display: grid;
    width: 50%;
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    margin: 0px 25%;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    overflow: hidden;
}

 
 .social_media i{
    font-size: 30px;
    color: #000000;
}

.social_media i:hover{
    font-size: 40px;
    color: rgb(96, 91, 91);
}



.contact-container{
    width: 100%;
    /* display: flex; */
    /* grid-template-columns: repeat(2, 1fr); */
    row-gap: 0rem; 
    overflow: hidden;
}

.contact-container h2{
    padding-top: 200px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-info{
    margin-top: 50px;
    /* border: 2px black solid; */
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: repeat(5, 1fr);
    /* row-gap: 10px; */
    margin: 0px 0%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}


 
 .contact-container i{
    font-size: 30px;
    color: #a88513;
}

.contact-container i:hover{
    font-size: 40px;
    color: rgb(78, 8, 8);
}

.about_coffe{
    margin: 200px;
    /* border: 2px solid yellow; */
    min-height: 300px;
    color: #895426;
}

.about_coffe h3{
    font-size: 60px;
    padding: 30px;
    color: #f1f1f1;
    text-align: center;
    opacity: 0.8;
    font-family: 'Times New Roman', Times, serif;
}


.about_us{
    margin-left: 400px;
}


/* The cart link pop up from top to bottom */

/* .card{
    position: relative;
    height: 300px;
    text-align: center;
    overflow: hidden;
}


 .add_to_cart{
     // margin-top: -80px;
     top: 11%;
     transform: translatex(101%);
     width: 100%;
     position: absolute; //
     
     margin-top: -80px;
     top: 11%;
     transform: translatey(-101%);
     width: 100%;
     position: absolute;
     
     
     padding-top: 7px;
     background: transparent;
     border: none;
     text-transform: uppercase;
     height: 40px;
     transition: all 0.4s linear;
     opacity: 0;
     cursor: pointer;
     background-color: #895426;
     color: white;
     font-size: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    } */


.card{
    /* position: relative; */
    height: 300px;
    text-align: center;
    overflow: hidden;
    /* border-shadow: none; */
}

.card-img-top{
    height: 200px;
}

.add_to_cart{
    /* margin-top: -60px;  */
    position: absolute;
    right: 0%;
    bottom: 50%;
    padding-top: 7px;
    width: 30%;
    background: transparent;
    border: none;
    text-transform: uppercase;
    height: 30px;
    transition: all 0.4s linear;
    opacity: 0;
    transform: translateX(101%);
    cursor: pointer;
    background-color: #895426;
    color: white;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .add_to_cart:hover{
    color: rgb(17, 17, 17);
} */

.card:hover .add_to_cart{
    transform: translatex(0%);
    margin-top: -40px;
}

.card-img-top{
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.card:hover .card-img-top{
    opacity: 0.7;
}

.card:hover .cart{
    opacity: 0.9;
    text-decoration: none;
}

.card-body .price a{
    text-decoration: none;
    font-size: 12px;
}

.price .btn a:hover {
    color: white;
    text-decoration: none;
}

.card-footer{
    background:white !important;
    border:none !important;
    text-align: center;
}



img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}



.row{
    padding-left: 20px;
    padding-right: 20px;
}

.card p, .card h5{
    font-size: 12px;
    text-decoration: none;
}

.card a{
    text-decoration: none;
    color: white;
}

/* ======================================================= Contact us ================================================= */

.contact-us-container{
    margin-top: 30px;
    background-image: url("../images/33.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 500px;

}


.contact-us-container h1{
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Koulen', cursive;
    box-shadow: 10px 20px 40px 10px rgb(99, 94, 85);
}

.contact-us-container h2{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Koulen', cursive;
}

.contact-us-container h3{
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}


.contact-us-form{
    
    margin: 2% 10%;
    font-size: 25px;
    padding: 15px 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}


/* .contact-us-form i{
    font-size: 20px;
    padding: 15px;
    border: 1px solid black;
    background-image: linear-gradient(270deg, #c3e4e4 60%, #2a2727 94%);
    color: #000000;
} */



.contact-us-form .login-btn a{
    text-decoration: none;
    color: #000000;
}

.contact-us-form h3{
    font-size: 18px;
}

.contact-us-form  .textinput{
    box-shadow: 5px 0px 10px 3px;
    margin: 20px;
    padding: 10px;
    font-size: 14px;
    border: 0.1rem solid black;
    width: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

.contact-btn{
    margin: 10px 30%;
    border-radius: 1rem;
    padding: 20px 80px;
    cursor: pointer;
    border: 1px rgb(0, 0, 0) solid;
}

.contact-btn:hover{
    background-color: transparent;
    border: 1px solid red;
    color: black;
}


/* ======================================================= Log in page ================================================= */

.login_container{
    background-image: url("../images/coffee-cup-shape.jpg");
}



.form-box{
    margin: 2% 28%;
    height: 400px;
    font-size: 25px;
    padding: 15px 15px;
    /* background-image: linear-gradient(45deg, #419393 60%, #41b311 94%); */
    text-align: justify;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-box .form h1{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Koulen', cursive;
    border-bottom: 2px solid black;
}


.form_input{
    padding: 10px 130px;
    display: flex;
}

.form-box i{
    font-size: 20px;
    padding: 15px;
    border: 1px solid black;
    background-image: linear-gradient(270deg, #c3e4e4 60%, #2a2727 94%);
    color: #000000;
}


.form{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.form .login-btn a{
    text-decoration: none;
    color: #000000;
}

.form h3{
    font-size: 18px;
}


.login-btn{
    margin: 10px 30%;
    border-radius: 1rem;
    padding: 10px 80px;
    cursor: pointer;
    border: 1px rgb(0, 0, 0) solid;
}

.login-btn:hover{
    background-color: transparent;
    border: 1px solid red;
    color: black;
}

/* ============================================================ Footer start ===================================================== */

#footer{
    height: 100px;
    background-color: #4b3b02;
}

#footer p{
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #eef0ef;
}

#footer .Our_brand{
    font-size: 28px;
    font-family: 'Italianno', cursive;
    color: #eef0ef;
}


